* {
  /* border: 1px solid black; */
}

body {
  background-color: rgba(51, 51, 51, 1);
}

button {
  border: 0;
  background-color: transparent;
  color: white;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
}

.card {
  width: 200px;
  height: 385px;
  border-radius: 10px;
}

.card-image {
  width: 200px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  display: flex;
}

.card-infomation {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 11px;
  background-color: #222;
  border-radius: 0 0 10px 10px;
  text-align: left;
  flex-grow: 1;
}

.card-title {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.card-score {
  color: #FFD700;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal {
  display: flex;
  justify-content: center;
  color: white;
  width: 600px;
  max-height: 80vh;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 1);
  gap: 16px;
  padding: 32px;
  box-sizing: border-box;
  position: relative;
}

.modal-image {
  width: 200px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: flex;
  border-radius: 10px;
}

.modal-infomation {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

}

.modal-releaseDate {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-releaseDateText {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

}

.modal-score {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-scoreText {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-overview {
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-overviewText {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-closeButton {
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  position: absolute;
  top: 16px;
  right: 16px;
}

header {
  height: 76px;
  display: flex;
  align-items: center;
  background-color: black;
  border-bottom: 1px;
  border-color: rgba(51, 51, 51, 1);
}

.header-title {
  font-family: Arial;
  font-weight: 700;
  font-size: 37.4px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(229, 9, 20, 1);
  margin-left: 16px;
}
