* {
  /* border: 1px solid black; */
}

button {
  border: 0;
  background-color: transparent;
  color: white;
}

.cards {
  display: flex;
  gap: 16px;
}

.card {
  width: 200px;
  height: 385px;
  border-radius: 10px;
}

.card-image {
  width: 200px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  display: flex;
}

.card-infomation {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 11px;
  background-color: #222;
  border-radius: 0 0 10px 10px;
}

.card-title {
  color: white;
}

.card-score {
  color: #FFD700;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.modal {

}
